*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    max-width: 100vw;
}

header{
    height: 80vh;
    box-sizing: border-box;
    background: hsl(356, 100%, 66%)url(./images/bg-pattern-intro.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 95px;
}

.header-top-container{
    padding: 3em 0;
    display: flex;
    justify-content: space-around;
    align-items: content;
}
.header-top-left{
    display:flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
}
.dropdown {
    position: relative;
    display:inline-block;
}
.dropdown a{
    padding: 0 .2em;
    font-size: 1em;
    color: #fff;

}
.dropdown img{
    margin-left: 2px;
    width: 12px;
}

.dropdown-content{
    display:none;
    position:absolute;
    width: 130px;
    z-index: 1;
background:#f9f9f9;
border-radius: 5px;
transition: all 350ms ease-in-out;


}
.dropdown-content a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color:#333;
    font-weight: 300;
    font-size: .75em;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
transition: all 350ms ease-in-out;

  }
  .header-top-right{
      display:flex;
      align-items: center;
      gap: .2em;
  }
  
  .header-top-right a{
   text-decoration:none;
   color: #fff;
   padding: 6px 10px;
   transition: 350ms ease-in-out;
   font-size: 1em;
  }
  .header-top-right   .login-active{
    background: #fff;
    color: hsl(313, 100%, 42%);
    border-radius: 50px;
    padding: 8.5px 12px;
  }
.header-top-right a:hover{
      background: #fff;
      color: hsl(356, 100%, 56%);
      border-radius: 50px;
      padding: 8.5px 12px;
  }
  .header-bottom-container{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .header-bottom-container h2{
      color: #fff;
      font-size: 2em;
      letter-spacing: 1px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 1.5em ;
  } 

  .header-bottom-container p{
      color: #fff;
      font-size: 1.1em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 1em 0;
  }

  .btn{
      margin-top: 1em;
      display:flex;
      gap: 20px;
      flex-direction: row;
      justify-content:center;
      align-items: center;
  }

  .btn a{
      color: #fff;
      text-decoration: none;
      font-size: 1em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding: .8em .89em;
      margin-top: .5em;
      transition: 450ms ease-in-out;

  }
  .btn a:hover{
    background: #fff;
    border-radius: 4em;
    color:hsl(353, 100%, 42%);

  }
  .btn .Startactive{
      background: #fff;
      border-radius: 4em;
      color:hsl(356, 100%, 56%);
  }
  img{
      max-width: 100%;
  }

  .split{
      margin: 2em 0;
      display:flex;
      justify-content: center;
      align-items: center;
    
  }
  .split >* {
      flex-basis: 100%;
  }
  .content{
      width: 100%;
      margin: auto;
      box-sizing: border-box;
      padding: 4em 1.5em 0 1.5em;
  }
  .section-first-content,
  .section-second-content,
  .section-third-content{
      width: min(90%,600px);
      width: 100%;
      padding: .5em;
  }
  .section-first-content p,
  .section-second-content p,
  .section-third-content p{
     font-size: .75em;
     font-weight: 400;
  }
  .section-first-content h2,
  .section-second-content h2,
  .section-third-content h2{
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: .5em;
  }
  /* the margin bottom separate the heading from the paragraph but the both the divs are merging together so we use div margin for top and bottom */

  .section-first-content div,
  .section-second-content div,
  .section-third-content div{
margin: .7em 0;  
}

/* Now we need to align the first content heading to center */

.content .text-align{
    display:block;
    position: absolute;
    font-size: 1.29em;
    left: 30%;
    font-weight: 550;
    transform: translateY(-15px);
}
.image-first{
    border: 1px solid re;
    transform: scale(1);
    position:relative;
    overflow:hidden;
    padding: 2em 0;
}

.image-first img{
    transform: scale(1.25);
    position:relative;
    right: -70px;
}
.section-first-content{
    margin-left: 0;
}

.second-section{
    background:hsl(237, 17%, 21%) url(./images/bg-pattern-circles.svg);
    background-position: left;
    background-position-x:-50px ;
    background-position-y: -150px;
    background-size: 390px;
    background-repeat: no-repeat;
    padding: 4em .70em;
    height: 250px;
    overflow: visible;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 80px;

}

.image-second img{
    transform: scale(1.2)
}

.section-second-content{
    margin-left: .4em;
    padding: 1em;
}

.section-second-content h2{
    color: #fff;
    margin-bottom: 1em;
    font-weight: 500;
}
.section-second-content p{
    color: #fff;
    font-weight: 200;
    line-height: 1.6;
    font-size: .72em;
}

    .image-third img{
    transform: scale(1.6);
    position:relative;
    left: -63px;
}
footer{
    margin-top: 3.9em ;
    background: hsl(240, 10%, 16%);
    border-top-right-radius: 115px;

}
.grid{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2.2em 1.34em;
}
.grid-content ul{
    list-style: none;
    margin-top: .5em;
}

.grid-content h3{
    color: #fff;
    font-size: 1em;
    font-weight: 550;
}

.grid-content li{
    color: hsl(100, 10%, 60%);
    font-weight: 300;
    font-size: .85em;
    line-height: 1.6;
}
.grid-content li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.toggle{
display: none;
}

@media (min-width:800px){
    body{
        height: 100vh;
    }
    img{
        max-width: 100%;
    }
    .header-top-left{
        display:flex;
        justify-content:space-between;
        gap: 60px;
        align-items: center;
    }

    .header-top-left{
        display:flex;
        justify-content:space-between;
        gap: 30px;
        align-items: center;
    }
    .dropdown {
        position: relative;
        display:inline-block;
    }
    .dropdown a{
        font-size: 1.25em;
    }
    .dropdown-content a{
        font-size: .75em;
        padding: 10px;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .header-bottom-container h2{
        font-size: 2.7em;
    }
    .header-bottom-container p{
        font-size: 1.5em;
    }


.content{
    padding: 5em 0em;
    overflow: hidden;
}  
.split{
    line-height: 1;
    margin: 1.5em 0;
}

.image-first{
    overflow: visible;
    margin-left: 18em;
}
.image-first img{
    transform: scale(1.6);
}
.section-first-content{
    width:100%;
    position: relative;
    left: 152px;
}
.section-first-content h2{
    font-size: 1.8em;
    margin-bottom: 1em;
    color: hsl(220,12%,39%);
}
.section-first-content p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(400, 10%, 50%);
}
.content .text-align{
    color: hsl(220,42%,19%);
    font-size: 2.2em;
    position: relative;
    top: 40px;
    font-weight: 550;
}
.section-first-content > div{
    margin: 3em 0;
}
.image-second{
    transform: scale(.7);
}

.section-second-content h2{
    font-size: 1.8em;
    padding: .51em 0;
    margin-bottom: .5em;
}
.section-second-content p{
    font-size: .85em;
    font-weight: 300;
    color: #fff;
}
.second-section{
    height: 40vh;
}
.section-third-content h2{
    font-size: 2em;
    font-weight: 300;
    color: hsl(220,12%,39%);
}
.section-third-content p{
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    color: hsl(100, 10%, 40%);
}
.section-third-content > div{
    margin: 3em 0;
}

}

@media (max-width:590px){
    header{
        height: 90vh;
    }
    .header-bottom-container{
        margin-top: 2.51em;
        text-align: center;
    }
    .header-bottom-container h2{
        font-size: 1.8em;
        /* text-align: center; */
    }
    .header-bottom-container p{
        font-size: 1.2em;
        font-weight: 0;
    }
    .toggle{
        display: block;
        height:45px;
        width: 50px;
        background: #fff;
        background: url(./images/menu.svg);
        background-size: 50px;
        filter: invert(1);
        position: absolute;
        right: 25px;
    }
    
.header-top-right{
    display: none;
}
/* we also need to adjust the logo image to the left */
.logo-top{
    position: absolute;
    left: 20px;
    top: 30px;
}
.toggle.active{
        position: absolute;
        top: 25px;
        height:45px;
        width: 50px;
        background: #fff;
        background: url(./images/icons8-delete-48.png);
        background-size: 50px;
        filter: invert(1);
        position: absolute;
        right: 25px;
}

.split{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding:  0;
    margin:  0;
    box-sizing: border-box;
 
}
.section-first-content{
    position: relative;
    left: 0px;
}
.section-first-content > div{
    margin-top: 3em;
}
.second-section{
    height: 110vh;
}

.image-first img{
    margin: 0;
    padding: 0;
}

.image-first img,
.image-second img,
.image-third img{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    transform: scale(1);
}
.content .text-align{
    width: min(99%,45rem);
    font-size: 1em;
    left: 0;
    right: 0;
    position: relative;
    text-align: center;
    transform: translateY(10px);
}
.grid{
    height: 100vh;
    margin-top: 2em 00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-content{
    margin-top: 1.5em;
}
.logo-bottom{
    display: block;
    margin: 1em 0;
}
.grid-content h3{
    margin-bottom: 1em;
}
.header-nav{
    display: none;
     transition: all 650ms ease;    
}
.header-nav.active{
    position: relative;
    top: 35px;
    height: 65vh;
    background: #ddd;
    border-radius: 10px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transition: all 350ms ease-in-out;

}
.header-nav.active a{
    display: block;
    transition: all 550ms ease-in-out;
    color: hsl(215, 12%, 19%);
    font-size: large;

    
}
.dropdown{
    margin: 1em;
    position: relative;
    border-radius: 50px;
    padding: .5em;
    width: 260px;
    text-align: center;
    transition: all 650ms ease-in-out;
}
.dropdown-content{
    position: relative;
    left: 65px;
    transition: all 550ms ease-in-out;
    text-align: left;
}
header.active{
    height: 150vh;
}
.header-bottom-container p{
    color: #fff;
    font-size: .95em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em 0;
}

.btn{
    margin-top: 1em;
    display:flex;
    gap: 15px;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.btn a{
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .6em .6em;
    margin-top: .5em;
    transition: 450ms ease-in-out;

}
.btn a:hover{
  background: #fff;
  border-radius: 5em;
  color:hsl(353, 100%, 42%);

}
.btn .Startactive{
    background: #fff;
    border-radius: 4em;
    color:hsl(356, 100%, 56%);
}
/* For all the above learn more and start for free buttons i have just copied the code and changed very minor */
.dropbtn img{
    filter: invert(4);
}
}
@media (max-width: 300px){
    .split.second-section{
        height: 90vh;
    }
    .split.third-section{
        height: 90vh;
    }
    .split.third-section p{
        color: hsl(220, 2%, 39%);
    }
}